// ================================
//          GENERALS / RESETS
// ================================

*
{
    box-sizing: border-box; 
    padding: 0; 
    margin: 0;
}

body
{
    font-family: sans-serif;
}

img
{
    display: block;
    width: 50%;
}